@charset "UTF-8";
html {
    background-color: green;
}

h1 {
    text-align: center;
	color: white;
}

table, th, td, tr {
    border: 1px solid black;
}
  
table {
    width: 600px;
    height: 250px;
    background-color: lightgreen;
    margin-top: 10%;
    margin-left: 30%;
}

ol {
    vertical-align: center;
}

img {
    width: 200px;
    height: 150px;
    border: 3px solid green;
    padding: 10px;
    margin-left: 10%;
}
  
footer {
	text-align: center;
	color: white;
	font-size: 1.5em;

}
  